header, footer{
	color: black; /*teksti värv*/
	background-color: #fed5cc; /*tausta värv*/
	width: 50%; /*laius*/
	text-align: center;
	border: solid 8pt #DFFF00; /*piir - dashed, dotted, double, solid*/
	border-radius: 60px 120px 60px 120px;
	padding: 1%;
}
main section {
	background-color: #f5ef8f;
	border: solid 8pt #fed5cc;
	margin: 8px;
	width: 60%;
	text-align: center;
	
}
main section h2{
	color: blue;
	font-variant: small-caps; /*normal*/
	
}

nav ul {
  list-style-type: none; /*loetelu markerid*/
  margin: 0;
  padding: 0;
  overflow: hidden; /*kuidas näidata nav elemendid*/
  background-color: #fed5cc;
}

nav li {
  float: left;
}

nav li a {
  display: block; /*ühe realine navbar*/
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /*underline*/
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {/*link fookuses*/
  background-color: red;
}